Repository fluxcd/kustomize-controller, pull requests merged in 2020-11, with the labels that each got.

#162 Omit checksum label if GC is disabled
  controllers/kustomization_controller.go
  controllers/kustomization_gc.go
  controllers/kustomization_generator.go
  controllers/kustomization_request.go
  docs/spec/v1beta1/kustomization.md
Labels: area/docs, area/kustomize, enhancement

#164 Use latest generation when updating final status
  controllers/kustomization_controller.go
Labels: enhancement

#166 docs: minor typo fix
  docs/spec/v1beta1/kustomization.md
Labels: area/docs

#169 Update engineerd/setup-kind to v0.5.0
  .github/workflows/e2e.yaml
Labels: area/build

#168 Allow disabling validation
  api/v1beta1/kustomization_types.go
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  controllers/kustomization_controller.go
  docs/api/kustomize.md
  docs/spec/v1beta1/kustomization.md
Labels: area/kustomize, enhancement

#171 Patch status sub-resource
  controllers/kustomization_controller.go
Labels: area/kustomize, enhancement

#176 Add docs for excluding non-k8 YAML files in kustomization generation
  docs/spec/v1beta1/kustomization.md
Labels: area/docs

#180 Use ServiceAccountName for impersonation
  .github/workflows/e2e.yaml
  api/v1beta1/kustomization_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  config/testdata/impersonation/test.yaml
  controllers/kustomization_controller.go
  docs/api/kustomize.md
  docs/spec/README.md
  docs/spec/v1beta1/README.md
  docs/spec/v1beta1/kustomization.md
Labels: area/kustomize

#182 Requeue after interval on source not found errors
  controllers/kustomization_controller.go
Labels: area/kustomize, enhancement

#183 Do not mark suspended resource as not ready
  api/go.mod
  api/go.sum
  api/v1beta1/kustomization_types.go
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  controllers/kustomization_controller.go
  go.mod
  go.sum
  main.go
Labels: enhancement

#188 Use cert-manager example for dependsOn docs
  docs/spec/v1beta1/kustomization.md
Labels: area/docs
