Repository fluxcd/kustomize-controller, pull requests merged in 2021-07, with the labels that each got.

#374 feat: make it easier to reason about health check failures
  controllers/kustomization_healthcheck.go
Labels: area/health-checks, enhancement

#383 Update controller to kustomize v4.2.0
  go.mod
  go.sum
Labels: area/kustomize

#385 Update Alpine v3.14 and kubectl v1.21.2
  .github/workflows/e2e.yaml
  Dockerfile
Labels: area/build

#389 Var substitution opt-in docs
  docs/spec/v1beta1/kustomization.md
Labels: area/docs

#390 Fix generation conflicts in tests
  controllers/kustomization_controller_gc_test.go
Labels: area/build

#394 fix: prevent nil pointer dereference in health checks
  controllers/kustomization_healthcheck.go
Labels: area/health-checks, bug
