Repository fluxcd/kustomize-controller, pull requests merged in 2021-12, with the labels that each got.

#501 Document behaviour when changes are made to fields not stored in git
  docs/spec/v1beta2/kustomization.md
Labels: area/docs

#512 Update golang.org/x/text to v0.3.7 (fix CVE-2021-38561)
  go.mod
  go.sum
Labels: area/build

#509 Update dependencies (fix CVE-2021-43784)
  Makefile
  api/go.mod
  api/go.sum
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  config/default/kustomization.yaml
  go.mod
  go.sum
Labels: area/build

#513 sops: ensure proper wiring to default server
  internal/sops/keyservice/server.go
Labels: area/sops
