Repository fluxcd/kustomize-controller, pull requests merged in 2022-12, with the labels that each got.

#754 Add support for Kustomize components
  api/v1beta2/kustomization_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  docs/api/kustomize.md
  docs/spec/v1beta2/kustomization.md
  go.mod
  go.sum
Labels: enhancement, area/kustomize

#774 Document behaviour of atomic fields with server-side apply
  docs/spec/v1beta2/kustomization.md
Labels: area/docs

#776 build: update dockertest to Go Mod compatible v3
  controllers/kustomization_fuzzer_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  internal/sops/awskms/keysource_test.go
  internal/sops/hcvault/keysource_test.go
Labels: area/build

#777 fuzz: Use build script from upstream and fix fuzzers
  go.mod
  go.sum
  tests/fuzz/Dockerfile.builder
  tests/fuzz/README.md
  tests/fuzz/oss_fuzz_build.sh
  tests/fuzz/oss_fuzz_run.sh
Labels: area/build

#780 Update dependencies
  config/default/kustomization.yaml
  go.mod
  go.sum
Labels: area/build
