Repository fluxcd/kustomize-controller, pull requests merged in 2022-08, with the labels that each got.

#703 Update controller to kustomize v4.5.6
  go.mod
  go.sum
Labels: area/kustomize

#684 [RFC-0003] Add support for OCIRepository sources
  .github/workflows/e2e.yaml
  .gitignore
  Makefile
  api/v1beta2/reference_types.go
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  config/default/kustomization.yaml
  config/rbac/role.yaml
  config/testdata/oci/podinfo.yaml
  controllers/kustomization_controller.go
  docs/spec/v1beta2/kustomization.md
  go.mod
  go.sum
Labels: area/oci

#706 Add file path to sops decryption errors
  controllers/kustomization_decryptor.go
Labels: area/sops

#712 Update doc on target namespace
  docs/spec/v1beta1/kustomization.md
  docs/spec/v1beta2/kustomization.md
Labels: area/docs
