Repository fluxcd/kustomize-controller, pull requests merged in 2023-06, with the labels that each got.

#897 Use kustomization namespace for empty dependency source namespace
  internal/controller/kustomization_controller.go
Labels: bug

#896 targetNamespace namespace can be part of kustomization
  docs/spec/v1/kustomization.md
Labels: area/docs

#894 Add SLSA3 generators to release workflow
  .github/workflows/release.yml
  .goreleaser.yaml
Labels: area/build, area/security

#900 Align `go.mod` version with Kubernetes (Go 1.20)
  api/go.mod
  go.mod
  tests/fuzz/Dockerfile.builder
Labels: area/build
