Repository fluxcd/kustomize-controller, pull requests merged in 2024-04, with the labels that each got.

#1122 Update dependencies to Go 1.22 and Kubernetes 1.29.3
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/scan.yml
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  tests/fuzz/Dockerfile.builder
Labels: dependencies

#1128 Update dependencies to Kustomize v5.4.0
  go.mod
  go.sum
Labels: dependencies

#1129 Document how to use numbers and booleans in post build substitutions
  docs/spec/v1/kustomizations.md
  internal/controller/kustomization_varsub_test.go
Labels: area/docs, area/testing

#1130 Add `StrictPostBuildSubstitutions` feature flag
  docs/spec/v1/kustomizations.md
  go.mod
  go.sum
  internal/controller/kustomization_controller.go
  internal/controller/kustomization_varsub_test.go
  internal/features/features.go
  main.go
Labels: enhancement, area/varsub

#1134 Implement name prefix/suffix transformers
  api/v1/kustomization_types.go
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  docs/api/v1/kustomize.md
  docs/spec/v1/kustomizations.md
  go.mod
  go.sum
  internal/controller/kustomization_controller.go
  internal/controller/kustomization_transformer_test.go
Labels: area/api

#1144 api: Refer condition type constants from `fluxcd/pkg/apis`
  api/v1/condition_types.go
  internal/controller/kustomization_acl_test.go
  internal/controller/kustomization_controller.go
  internal/controller/kustomization_dependson_test.go
  internal/controller/kustomization_force_test.go
  internal/controller/kustomization_impersonation_test.go
  internal/controller/kustomization_validation_test.go
  internal/controller/kustomization_varsub_test.go
  internal/controller/kustomization_wait_test.go
Labels: area/api

#1139 Update dependencies to Kubernetes 1.30
  Makefile
  api/go.mod
  api/go.sum
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  go.mod
  go.sum
Labels: dependencies
