Repository fluxcd/kustomize-controller, pull requests merged in 2025-09, with the labels that each got.

#1505 Update otel packages to v1.38.0
  go.mod
  go.sum
Labels: dependencies

#1508 [RFC-0012] Add support for `ExternalArtifact` source type
  .gitignore
  Makefile
  api/v1/reference_types.go
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  config/default/kustomization.yaml
  docs/spec/v1/kustomizations.md
  go.mod
  go.sum
  internal/controller/kustomization_acl_test.go
  internal/controller/kustomization_controller.go
  internal/controller/kustomization_externalartifact_test.go
  internal/controller/kustomization_indexers.go
  internal/controller/kustomization_manager.go
  internal/controller/suite_test.go
  internal/features/features.go
  main.go
Labels: area/api

#1511 Update source-controller API to v1.7.0
  api/go.mod
  api/go.sum
  api/v1/metrics.go
  config/default/kustomization.yaml
  go.mod
  go.sum
  internal/cache/operations.go
  internal/controller/kustomization_controller.go
  internal/decryptor/decryptor.go
  internal/runtime/namespace.go
  main.go
Labels: dependencies, area/api

#1520 Add feature gate to cancel health checks on new revisions
  go.mod
  go.sum
  internal/controller/kustomization_controller.go
  internal/controller/kustomization_wait_test.go
  internal/features/features.go
  main.go
Labels: area/kstatus, area/ux
