Repository fluxcd/kustomize-controller, pull requests merged in 2025-05, with the labels that each got.

#1426 [RFC-0010] Introduce object-level workload identity for KMS decryption
  api/v1/kustomization_types.go
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  config/rbac/role.yaml
  docs/api/v1/kustomize.md
  docs/spec/v1/kustomizations.md
  go.mod
  go.sum
  internal/cache/operations.go
  internal/controller/kustomization_controller.go
  internal/decryptor/decryptor.go
  internal/decryptor/decryptor_test.go
  internal/sops/awskms/region.go
  internal/sops/awskms/region_test.go
  internal/sops/azkv/credentials.go
  internal/sops/keyservice/options.go
  internal/sops/keyservice/server.go
  internal/sops/keyservice/server_test.go
  main.go
Labels: area/sops, area/security

#1444 Implement `WaitForTermination` deletion policy
  api/v1/kustomization_types.go
  config/crd/bases/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  docs/api/v1/kustomize.md
  docs/spec/v1/kustomizations.md
  go.mod
  go.sum
  internal/controller/kustomization_controller.go
  internal/controller/kustomization_deletion_policy_test.go
Labels: enhancement, area/api

#1456 [RFC-0010] Link workload identity docs to complete guide
  docs/spec/v1/kustomizations.md
Labels: area/docs

#1458 Update controller to OCIRepository v1 (GA)
  README.md
  api/go.mod
  api/go.sum
  config/default/kustomization.yaml
  config/testdata/oci/podinfo.yaml
  docs/spec/v1/kustomizations.md
  go.mod
  go.sum
  internal/controller/kustomization_controller.go
  internal/controller/suite_test.go
  main.go
Labels: dependencies

#1463 Update dependabot config
  .github/dependabot.yaml
Labels: area/ci
